:root {
	--bodyWidth: 				1366px;

	--readingTextColor:			#616161;
	--lightTextColor:			#9f9f9f;

	--mainColor: 				#FF9600;
	--mainColorOpacity: 		#FF9600c4;

	--sproutColor: 				#346E52;
	--sproutColorOpacity: 		#346E52d9;

	--palColor: 				#70CFCA;
	--palColorOpacity: 			#70CFCAd9;

	--petkitgoColor: 			#CCBC84;
	--petkitgoColorOpacity: 	#CCBC84d9;

	--wasserlichtColor: 		#1E1E1E;
	--wasserlichtColorOpacity: 	#1E1E1Ed9;
}

#project1 .header/*, #project1 .projTitles*/{
	background-color: var(--sproutColorOpacity);
}
#project1 .mainGoal{
	background-color: var(--sproutColor);
}

#project2 .header/*, #project2 .projTitles*/{
	background-color: var(--palColorOpacity);
}
#project2 .mainGoal{
	background-color: var(--palColor);
}

#project3 .header/*, #project3 .projTitles*/{
	background-color: var(--petkitgoColorOpacity);
}
#project3 .mainGoal{
	background-color: var(--petkitgoColor);
}

#project4 .header/*, #project4 .projTitles*/{
	background-color: var(--wasserlichtColorOpacity);
}
#project4 .mainGoal{
	background-color: var(--wasserlichtColor);
}

body{
	font-family: 'Heebo', sans-serif;
	margin: 0px;
	height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.homePageWrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media only screen and (max-width: 1000px){
	body .navBar .mainTitle h1 {
		margin: 0px 0px 0px 0px;
	}
	body .navBar #hamburgerMenu{
		display: block;
		width: 50px;
		height: 40%;
		margin: 0px 10px 0px 10px;
	}
	body .navBar .mainTitle ul{
		position: absolute;
	    top: 20px;
	    flex-direction: column;
	    background-color: white;
	    z-index: 1;
	    height: fit-content;
	    left: 20px;
	    box-shadow: 0px 3px 15px 0px #0000001a;
	    display: none;
	}
	body .navBar ul{
		display: none;
	}
	body .navBar ul li:last-child a{
		background-image: none;
	}
	body .navBar ul li:last-child a::after{
		content: "LinkedIn";
		color: blue;
	}
	
	body .homePageWrapper{
		overflow-x: hidden;
		overflow-y: scroll; 
	}
	body .homePageWrapper .mainBody{
		flex-direction: column;
		height: auto;
	}
	body .homePageWrapper .headshot{
		width: 100%;
		height: 240px;
	}
	body .homePageWrapper .intro{
		padding-top: 60px;
	}


	body .projectsPageWrapper .largeProj, body .projectsPageWrapper .mediumProj, body .projectsPageWrapper .smallProj{
		width: 100%;
	}
	body .projectsPageWrapper .row{
		flex-direction: column;
	}


	body .projectWrapper .beautyHeader{
	    height: 75vh;
	}
	body .projectWrapper .beautyHeader .header{
	    width: 100%;
	}
	body .projectWrapper .beautyHeader .projDate{
	    font-size: 100%;
	}
	body .projectWrapper .beautyHeader .backProjects{
		display: none;
	}
	body .projectWrapper .photo, body .projectWrapper .double-photo, body .projectWrapper .triple-photo{
		padding: 0;
	}
	body .projectWrapper .double-photo, body .projectWrapper .triple-photo{
		flex-direction: column;
	}
	body .projectWrapper .double-photo img, body .projectWrapper .triple-photo img{
		width: 100%;
	}
	body .projectWrapper .heading{
	    flex-direction: column;
	}
	body .projectWrapper .heading h2, body .projectWrapper .heading span{
	    width: 100%;
	}
	body .projectWrapper .objectives{
		flex-direction: column;
	}
	body .projectWrapper .goalContainer .goal:not(:first-child){
		margin-top: 10%;
	}


	body .aboutPageWrapper .row{
		flex-direction: column;
	}
	body .aboutPageWrapper .blurb{
		margin-bottom: 5%;
	}


	body .contactPageWrapper .row{
		flex-direction: column;
	}
	body .contactPageWrapper .contact{
		width: 90%;
	}
	body .contactPageWrapper .blurb{
		width: 100%;
		margin: 1em auto 2em auto;
	}
}

@media only screen and (min-width: 1389px){
	body .projectWrapper .beautyHeader .header{
		font-size: 4.4em;
	}
}


.navBar{
	height: 75px;
	box-shadow: 0px 3px 15px 0px #0000001a;
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 99;
	position: fixed;
	top: 0px;
    background-color: white;
    width: 100%;
    transition: top 0.3s;
}
.navBar ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
    float: right;
    margin-right: 22px;

    flex-grow: 1;
}
.navBar li{
	display: block;
	margin: auto 8px;
}
.navBar li a{
    color: rgb(116,116,116);
    background-color: #ffffff00;
    padding: 13px 20px;
    display: block;
}
.navBar ul li:last-child a{
	background-image: url(../assets/LinkedInBox.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.navBar .currentPage{
    color: var(--mainColor);
    background-color: white;
}
.navBar h1{
	font-size: 29px;
	font-weight: 500;
    margin: 0px 0px 0px 67px;
    white-space: nowrap;
}
.navBar h2{
	font-size: 14px;
    font-weight: 100;
    color: #aaaaaa;
    margin: 0px 0px 0px 28px;
}
.navBar .mainTitle{
	display: flex;
    float: left;
    align-items: center;
    height: 100%;
}
.navBar #hamburgerMenu{
	display: none;
	background-image: url(../assets/MenuButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.navBar .mainTitle ul{
	display: none;
}
.mainBody{
	padding-top: 75px;
	max-width: var(--bodyWidth);
	margin: 0px auto;
}

.footer{
	width: 90%;
	padding: 0% 5%;
	text-align: center;
	margin: 3em 0 2.6em 0;
	font-weight: 400;
	font-size: 17px;
	color: var(--lightTextColor);
}

a{
	text-decoration: none;
	color: var(--mainColor);
}
a:hover{
	cursor: pointer;
}


.homePageWrapper h3{
	font-size: 3em;
    font-weight: 500;
    margin: 0px;
}
.homePageWrapper span{
    font-size: 17px;
    color: var(--readingTextColor);
    display: block;
}
.homePageWrapper .intro span{
    margin-top: 60px;
}
.homePageWrapper .mainBody{
	display: flex;
	height: 100%;
	position: relative;
	max-width: initial;
}
.homePageWrapper .headshot{
    width: 43%;
    height: 100%;
    background-color: black;
    background-size: 100%;
	object-fit: cover;
}
.homePageWrapper .intro{
	width: 57%;
	padding: 142px 91px 50px 91px;
}
.homePageWrapper .intro a{
    color: var(--mainColor);
    font-weight: 500;
    font-size: 18px;
    margin: 40px 85px 0px 0px;
    display: inline-block;
}


.projectsPageWrapper .mainBody{
	max-width: initial;
}
.projectsPageWrapper .gridWrapper{
	display: grid;
	grid-gap: 0px;
    //grid-template-columns: auto auto auto auto;
    grid-template-columns: auto;
    grid-auto-flow: row;
}
.projectsPageWrapper .row{
	display: flex;
	height: 50vh;
}
.projectsPageWrapper .largeProj, .projectsPageWrapper .mediumProj, .projectsPageWrapper .smallProj{
	position: relative;
	cursor: pointer;
	height: 100%;
}
.projectsPageWrapper .largeProj{
	width: 100%;
}
.projectsPageWrapper .mediumProj{
	width: 66.6%;
}
.projectsPageWrapper .smallProj{
	width: 33.3%;
}
.projectsPageWrapper .projImage, .projectsPageWrapper .projTitles{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}
.projectsPageWrapper .projTitles{
	z-index: 1;
    background-color: var(--mainColorOpacity);
    display: none;
}
.projectsPageWrapper .mediumProj:hover .projTitles, .projectsPageWrapper .smallProj:hover .projTitles{
	display: block;
}
.projectsPageWrapper .projImage{
    object-fit: cover;
    z-index: 0;
}
.projectsPageWrapper .projTitles h1, .projectsPageWrapper .projTitles h2{
	color: white;
    width: max-content;
	position: absolute;
}
.projectsPageWrapper .mediumProj .projTitles h1{
    bottom: 0px;
    left: 0px;
    font-weight: 500;
    font-size: 2.4em;
    top: 0px;
    margin: 3vh 0px 0px 3vw;
}
.projectsPageWrapper .mediumProj .projTitles h2{
    bottom: 0px;
    right: 0px;
    margin: 0px 6vw 3vh 0px;
    font-weight: 100;
    font-style: italic;
    font-size: 1.2em;
}
.projectsPageWrapper .smallProj .projTitles h1{
    top: 0px;
    left: 0px;
    font-weight: 500;
    margin: 3vh 0px 0px 3vw;
    font-size: 2.4em;
}
.projectsPageWrapper .smallProj .projTitles h2{
    bottom: 0px;
    right: 0px;
    margin: 0px 6vw 3vh 0px;
    font-weight: 100;
    font-style: italic;
    font-size: 1.2em;
}


.projectWrapper .mainBody{
	padding-top: 9%;
	/*max-width: var(--bodyWidth);*/
	margin: 0px auto;
}
.projectWrapper .beautyHeader{
	width: 100vw;
	height: 100vh;
	position: relative;
}
.projectWrapper .beautyHeader .header{
    color: white;
    width: 40%;
    position: absolute;
    left: 0px;
    z-index: 1;
    font-size: 3.4em;
    height: 100%;
    padding: 75px 2% 0px 8%;
    background-color: var(--mainColorOpacity);
    box-sizing: border-box;
}
.projectWrapper .beautyHeader h1{
	margin: 40% 0px 0px 0px;
	width: min-content;
    font-weight: 600;
    font-size: 1.25em;
    line-height: 100%;
}
.projectWrapper .beautyHeader h2{
	margin: 4% 0px 0px 0px;
    font-weight: 500;
    font-size: 0.45em;
}
.projectWrapper .beautyHeader h3{
	margin: 0px;
    font-weight: 400;
    font-size: 0.35em;
    position: absolute;
    bottom: 7%;
}
.projectWrapper .beautyHeader .headerImage{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
	object-fit: cover;
    z-index: 0;
    box-sizing: border-box;
    padding-top: 75px;
}
.projectWrapper .heading{
	padding: 0 16%;
	margin: 9% 0;
	display: flex;
}
.projectWrapper .heading:first-child{
	margin-bottom: -4%;
	margin-top: 0%;
}
.projectWrapper .heading h2{
	display: inline-block;
	font-weight: 500;
	font-size: 2.5em;
	width: 20%;
	margin: 0 13% 0 0;
}
.projectWrapper .heading span{
	display: block;
	font-size: 1.1em;
    color: var(--readingTextColor);
    width: 67%;
    line-height: 230%;
}
.projectWrapper .blurb{
	padding: 0 16%;
	margin: 7% 0;
}
.projectWrapper .blurb span{
	display: block;
	font-size: 1.1em;
    color: var(--readingTextColor);
    line-height: 230%;
}
.projectWrapper a{
	color: #0F9AFF
}
.projectWrapper .photo{
	/*padding: 0 8%;*/
	/*margin: 5% 0;*/
}
.projectWrapper .double-photo, .projectWrapper .triple-photo{
	/*padding: 0 8%;*/
	display: flex;
	flex-direction: row;
}
.projectWrapper .photo img, .projectWrapper .double-photo img, .projectWrapper .triple-photo img{
	display: block;
	object-fit: cover;
	border: 0.5px solid white;
	box-sizing: border-box;
}
.projectWrapper .photo img{
	width: 100%;
}
.projectWrapper .double-photo img{
	width: 50%;
}
.projectWrapper .triple-photo img{
	width: 33.33%;
}
.projectWrapper .margin{
	margin: 8% 0%;
}
.projectWrapper .mini-margin{
	margin: 4% 0%;
}
.projectWrapper .max-margin{
	margin: 4% 0%;
}
.projectWrapper .padding{
	padding: 0% 8%;
}
.projectWrapper .mini-padding{
	padding: 0% 4%;
}
.projectWrapper .max-padding{
	padding: 0% 16%;
}
.projectWrapper .backProjects{
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 8%;
    font-weight: 400;
}
.projectWrapper .backProjects a{
	color: #ffffff70;
}
.projectWrapper .backProjects::before{
	height: 20px;
    width: 20px;
    display: inline-block;
    content: "";
    background-image: url(../assets/BackButton.svg);
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    vertical-align: text-top;
}
.projectWrapper .objectives{
	padding: 0 11% 0 13%;
	margin: 7% 0;
	display: flex;
}
.projectWrapper .mainGoal{
	flex: 1 1 0px;
    justify-content: space-around;
	background-color: var(--mainColor);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.projectWrapper .mainGoal .goal{
	width: 100%;
	color: white;
    padding: 2%;
}
.projectWrapper .subGoals{
	flex: 2 1 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    padding: 3% 0% 3% 6%;
    justify-content: space-between;
}
.projectWrapper .goal{
    font-size: 1.1em;
    color: var(--readingTextColor);
    line-height: 230%;
    width: 45%;
    padding: 5% 0%;
    box-sizing: border-box;
}	
.projectWrapper .goal span:first-child{
	width: 100%;
	display: block;
	text-align: center;
	font-weight: 800;
	font-size: 2.5em;
}
.projectWrapper .goal span:nth-child(2){
	display: block;
	margin-top: 8%;
}
.projectWrapper .footerButtons{
	display: flex;
	margin-top: -1px;
	box-shadow: 0px 0px 16px #e8e8e8;
}
.projectWrapper .nextButton{
	width: 50%;
	text-align: center;
	border-top: 0.8em solid var(--mainColor);
	border-bottom: 1px solid #efefef;
	padding: 1% 0px;
}
.projectWrapper .nextButton:hover{
	background-color: #ececec;
	cursor: pointer;
}
.projectWrapper .nextButton span{
	display: block;
	margin: 2.5% auto;
}
.projectWrapper .nextButton span:first-child{
	color: var(--lightTextColor);
}
.projectWrapper .nextButton span:nth-child(2){
	font-size: 1.2em;
	color: var(--mainColor);
	font-weight: 500;
}


.aboutPageWrapper h3{
	font-size: 3em;
    font-weight: 500;
    width: initial;
    margin: 4% auto;
    text-align: center;
}
.aboutPageWrapper .row{
	display: flex;
    margin: 4% 10%;
}
.aboutPageWrapper .blurb{
    margin: auto 0% auto 0%;
    width: 100%;
}
.aboutPageWrapper .row .blurb:first-child, .aboutPageWrapper .row .photo:first-child{
	margin-right: 5%;
}
.aboutPageWrapper .blurb span{
	font-size: 1em;
    color: var(--readingTextColor);
    line-height: 1.8em;
    display: block;
}
.aboutPageWrapper .blurb h2{
	font-weight: 500;
	font-size: 1.8em;
	background-color: var(--mainColor);;
    line-height: 119%;
    display: table;
    padding: 0.1em 0.3em 0em 0.3em;
    color: white;

    margin: 0 0 5% 0;
}
.aboutPageWrapper .photo{
	width: 100%;
}
.aboutPageWrapper .photo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contactPageWrapper h3{
	font-size: 3em;
    font-weight: 500;
    width: initial;
    margin: 4% auto;
    text-align: center;
}
.contactPageWrapper .row{
	display: flex;
    margin: 4% 10%;
}
.contactPageWrapper .contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 50%;
}
.contactPageWrapper .infoTitle{
	color: var(--lightTextColor);
}
.contactPageWrapper .info{
	font-size: 2em;
	font-weight: 500;
	color: black;
	margin-top: 0.3em;
}
.contactPageWrapper .blurb{
	font-size: 17px;
	color: var(--lightTextColor);
	width: 65%;
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
}
.contactPageWrapper .resume h2{
	font-weight: 500;
	font-size: 1.5em;
	display: flex;
    align-items: center;
}
.contactPageWrapper .resume{
	margin: 0 auto 0 auto;
	width: 60%;
}
.contactPageWrapper .resume img{
	width: 100%;
}
.contactPageWrapper .resume .downloadButton{
	float: right;
	color: orange;
	font-size: 0.7em;
	font-weight: 400;
	cursor: pointer;
	flex-grow: 2;
	text-align: right;
}
.contactPageWrapper .resume div{
	position: relative;
	padding-top: 129.5%;
	box-sizing: border-box;
}
.contactPageWrapper .resume iframe{
	position: absolute;
	top: 0;
	left: 0;
}


